@import url('https://fonts.googleapis.com/css2?family=Heebo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');

* {
    padding: 0%;
    margin: 0%;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color:  rgb(0, 79, 157);
}

.nav-bar {
    position: sticky;
    top: 0%;
    background-color: rgb(144, 198, 253);
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 12em;
    align-items: center;
    height: 4em;
}

.nav-links {
    display: flex;
    gap: 40px;
    font-weight: 700;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-family: 'Heebo', sans-serif;
}

.logo {
    font-size: 10px;
}

.profile-box {
    width: 100px;
    height: 25px;
    border: 1px solid black;
    border-radius: 20px;
    padding-top: 3px;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.profile-box-img {
    width: 20px;
    height: 20px;
    object-fit: cover;
}


/* Agents */

.Agents {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    gap: 5em;
    margin-top: 20px;
    margin-left: 100px;
    margin-right: 100px;
   max-width: 80%;
}

img {
    width: 37em;
    height: 15em;
    object-fit: cover;
    margin-bottom: 10px;
}

.Agents-text {
    width: 30em;
    line-height: 30px;
    margin-top: -6em;
    font-family: 'Jost', sans-serif;
    padding-top: 10px;
}



.footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 12em;
    height: 22vh;
    background-color: rgb(144, 198, 253);
    padding-top: 40px;
    line-height: 30px;
    margin-top: 7em;
    font-family: 'Jost', sans-serif;
}

.footerMain {
    font-size: 30px;
    margin-bottom: 10px;
    font-weight: 600;
}

/* Create Array of Object - One object 81 - 84 */