@import url('https://fonts.googleapis.com/css2?family=Heebo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');

* {
    padding: 0%;
    margin: 0%;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color:  rgb(0, 79, 157);
}

.nav-bar {
    position: sticky;
    top: 0%;
    background-color: rgb(144, 198, 253);
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 12em;
    align-items: center;
    height: 4em;
}

.nav-links {
    display: flex;
    gap: 40px;
    font-weight: 700;
    font-family: 'Heebo', sans-serif;
}

.logo {
    font-size: 10px;
}

.profile-box {
    width: 100px;
    height: 25px;
    border: 1px solid black;
    border-radius: 20px;
    padding-top: 3px;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.profile-box-img {
    width: 20px;
    height: 20px;
    object-fit: cover;
}
.Main {
    display: grid;
    place-content: center;
    margin-top: 50px;
}

.mainHead {
    margin-bottom: 40px;
    margin-top: 10px;
    font-size: 40px;
    font-family: 'Heebo', sans-serif;
}

.backIcon {
    margin-bottom: 30px;
}

.slider {
    width: 70em;
    height: 40em;
}

.imageNo {
    place-self: center;
    color: white;
    background: rgba(0, 0, 0, 0.6);
    width: 35px;
    font-size: 12px;
    height: 15px;
    padding: 3px;
    text-align: center;
    border-radius: 10px;
   margin-top: -5em;
}

.sliderIcon {
    margin-top: -24em;
    padding: 40px;
    display: flex;
    justify-content: space-between;
}

.save {
    display: flex;
    flex-direction: flex;
    justify-content: end;
    text-align: center;
    gap: 30px;
    padding: 40px 40px 0px 40px;
}

/* Overview */
.Overview {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
    gap: 10em;
}

.Overview-link {
    display: flex;
    font-weight: 700;
    font-size: 20px;
    font-family: 'Heebo', sans-serif;
    gap: 40px;
    margin-left: -20px;
}

.priceOverview {
    font-weight: 700;
    margin-top: 25px;
    margin-bottom: 10px;
    font-size: 33px;
}

.fullDescribe{
    margin-bottom: 14px;
    font-family: 'Jost', sans-serif;
}

.fullDescription {
    width: 25em;
    line-height: 25px;
    margin-bottom: 25px;
    font-family: 'Jost', sans-serif;
}

li {
     margin-left: 20px;
     margin-top: 10px;
     font-family: 'Jost', sans-serif;
}

.agentInform {
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(0, 0, 0, 0.4);
    padding: 20px;
    line-height: 25px;
    margin-top: -20em;
}

.agentImg {
    width: 18em;
    height: 18em;
    object-fit: cover;
}

.agentBtnDiv {
    display: flex;
    align-items: center;
    justify-content: center;
}

.agentBtn {
    width: 10em;
    height: 2.5em;
    color: white;
    background: rgb(0, 79, 157);
    border: none;
    margin-top: 20px;
}

.agentBtn:hover{
    background: rgb(254, 255, 255);
    border: 1px solid rgb(0, 79, 157);
    color: rgb(0, 79, 157);
}

textarea {
    border: 1px solid blue;
    border-radius: 5px;
    margin-top: 10px;
    padding: 10px;
    font-family: 'Jost', sans-serif;
}

/* Similar Property */

.similar {
    margin-top: 80px;
    margin-bottom: -90px;
    font-size: 25px;
text-align: center;
}

.RowFlex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 100px;
    height: 100vh;
}

.PopularRow {
    border-radius: 0px;
    padding: 20px;
    border: 1px solid rgba(0, 0, 0, 0.3);
}
.PopularImg {
    width: 19em;
    height: 13em;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    object-fit: contain;
}

.imgDetals {
padding: 15px;
line-height: 25px;
}

.PopularDetails {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    padding-top: 10px;
    font-family: 'Jost', sans-serif;
}

.date {
    margin-top: 20px;
    margin-bottom: 20px;
}

.date + p {
    margin-bottom: 25px;
}

/* Footer */
.footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 12em;
    height: 22vh;
    background-color: rgb(144, 198, 253);
    padding-top: 40px;
    line-height: 30px;
    font-family: 'Jost', sans-serif;
}

.footerMain {
    font-size: 30px;
    margin-bottom: 10px;
    font-weight: 600;
}